body {
  background-color: gray;
}

main {
  background-color: darkslategray;
  color: white;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 5px 5px 5px black;
  font-family: Arial, Helvetica, sans-serif;
  text-shadow: 1px 1px 2px black;
}